<html>
  <body>
     <h1>Cash ticket details</h1>
    <form method="POST" action = "/sendetails">
	<div class = "form-group">
        <input type="date" name = "sdt" >Date as of </input>
      </div>
	  
	  <div class = "form-group">
        <input type="date" name = "edt" >Settle Date </input>
      </div>
	  
	  
	  <div class = "form-group">
        <input type="text" name = "stock" > Stock Code </input>
      </div>
	  
	  
	  <div class = "form-group">
        <input type="text" name = "threshold" > Threshold (%) </input>
      </div>
	  
	  
	  <input class="btn btn-primary" type="submit" name = "submit_button" value="Thresh">

      <input class="btn btn-primary" type="submit" name = "submit_button" value="Table">
    </form>

  </body>
  
</html>



